
<div class="cover-container">
  <div class="cover">
    <img class="logo" src="assets/img/cloud-logo.png" alt="Cloud Browse Logo"/>
  </div>
</div>
<section class="cover-container">
  <div class="inner">
    <ul class="list-unstyled">
      <li class="inner">
        <a href="https://cuttybang.github.io/cloudbrowse" target="_blank"><img class="img-responsive img-rounded" src="assets/img/cloud-browse.png" alt="Cloud Browse screen shot"/></a>
        <h2 class="text-center">CloudBrowse</h2>
        <p class="lead text-justify">
          CloudBrowse is a sample search app that queries Soundcloud for "creative commons share alike" licenced samples. I use the Soundcloud API's SDK
          to make the AJAX calls to Soundcloud's database. It returns files that are no longer than 30 sec, and match the search query paramters.
          At first, I got so carried away by the possibilities of the API, I started to simply remake the Soundcloud site! There was next to
          full functionality: login, uploading, commenting etc., and it started to become more than I ever intended(not to mention unnecessary!)
          After giving myself a reality check, I refactored and settled on the simple function you see here.
        </p>
      </li>
    </ul>
    <div class="social soc-icon"><i class="fa fa-angle-double-down"></i></div>
  </div>
  <div class="inner cover lead">
    <p>
      Git Hub repository
    </p>
    <a class="soc-icon social" title="Git Hub" href="https://github.com/CuttyBang/cloudbrowse" target="_blank"><i class="fa fa-github-square"></i></a>
  </div>
</section>
