
      <div class="cover-container">
        <div class="cover">
          <img class="logo" src="assets/img/dante-logo.png" alt=""/>
        </div>
      </div>
      <section class="cover-container">
        <div class="inner">
          <ul class="list-unstyled">
            <li class="inner">
              <a href="https://cuttybang.github.io/dante-quiz" target="_blank"><img class="img-responsive img-rounded" src="assets/img/dante-quiz.png" alt="Dante Quiz screen shot"/></a>
              <h2 class="text-center">The Dante Aligheri Quiz</h2>
              <p class="lead text-justify">
                Remember the time I made a quiz app that was about Dante?<br>
                ...No?..<br>
                Oh, right. You had no idea that I made this... Well, now you do.<br>
                This was fun to make. I really enjoyed the
                gameplay I wrote for it, and the VelocityJs animations give it a nice, friendly feel. It's a simple quiz-type user input
                validation and comparison web app that will just go in an infinite loop of gameplay. Plus it's on the oh-so-popular subject of
                medieval Italian poets!
              </p>
            </li>
          </ul>
          <div class="social soc-icon"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="inner cover lead">
          <p>
            Git Hub repository
          </p>
          <a class="soc-icon social" title="Git Hub" href="https://github.com/CuttyBang/dante-quiz" target="_blank"><i class="fa fa-github-square"></i></a>
        </div>
      </section>
      <footer class="mastfoot cover-container">
        &copy; Copyright 2016 Cutty Bang Multimedia
      </footer>
    </div>
  </div>





  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
<script type="text/javascript" src="http://cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
</html>
