
      <div class="cover-container">
        <div class="inner">
          <img class="logo" src="assets/img/spacey-logo.png" alt=""/>
        </div>
      </div>
      <section class="cover-container">
        <div class="inner">
          <ul class="list-unstyled">
            <li class="inner">
              <a href="https://cuttybang.github.io/spacey" target="_blank"><img class="img-responsive img-rounded" src="assets/img/spaceyscreen.png" alt="Spacey preject screen shot"/></a>
              <h2 class="text-center">Spacey: Tonal Gravity</h2>
              <p class="lead text-right">
                This is a project where I used Canvas, FabricJS and PhysicsJS to simulate bodies in an outer space environment. <br>
                There is a proximity equation that measures the distance between bodies using Pythagorian priciples, and the force of gravity acting those
                bodies is represented through sound, via dynamically created oscillators courtesy of Web Audio. Each body creates it's own oscillator, and each
                oscillator is in turn routed through the custom audio graph. The audio graph contains hand crafted Convolver, Distortion and Delay effect algorithms
                as well as several preamp gains and Bi-Quad filters to further shape the sound<br>
                I'm also writing a series about the process of constructing these and other Web Audio elements on
                <strong><a class="links" href="https://medium.com/@nathanmcelwain" target="_blank">Medium</a></strong>, including code snippets and walk throughs.
              </p>
            </li>
          </ul>
          <div class="social soc-icon"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="inner cover lead">
          <p>
            Git Hub repository
          </p>
          <a class="soc-icon social" title="Git Hub" href="https://github.com/CuttyBang/spacey" target="_blank"><i class="fa fa-github-square"></i></a>
        </div>
      </section>
      <footer class="mastfoot cover-container">
        &copy; Copyright 2016 Cutty Bang Multimedia
      </footer>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
<script type="text/javascript" src="http://cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
</html>
