
      <div class="cover-container">
        <div class="cover">
          <img class="logo" src="assets/img/tubesearch-logo.png" alt="Tube Search Logo"/>
        </div>
      </div>
      <section class="cover-container">
        <div class="inner">
          <ul class="list-unstyled">
            <li class="inner">
              <a href="https://cuttybang.github.io/tube-search" target="_blank"><img class="img-responsive img-rounded" src="assets/img/tubesearch.png" alt="Tube Search screen shot"/></a>
              <h2 class="text-center">Tubesearch</h2>
              <p class="lead text-justify">
                Tubesearch is my YouTube API hack for finding acapellas on YouTube for music production. Pretty straight forward, just enter an artist, song, or both
                and Tubesearch will return a list of clickable thumbnails. Click the thumbnails to see(hear) the video, and there's an option in Tubesearch to redirect
                you to a YouTube audio ripping service. Boom. You've got that acapella you wanted to use.
              </p>
            </li>
          </ul>
          <div class="social soc-icon"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="inner cover lead">
          <p>
            Git Hub repository
          </p>
          <a class="soc-icon social" title="Git Hub" href="https://github.com/CuttyBang/tube-search" target="_blank"><i class="fa fa-github-square"></i></a>
        </div>
      </section>
      <footer class="mastfoot cover-container">
        &copy; Copyright 2016 Cutty Bang Multimedia
      </footer>
    </div>
  </div>





  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
</body>
<script type="text/javascript" src="http://cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/velocity/1.2.2/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
</html>
