<section id="contact">
  <div class="cover-container">
    <div class="inner cover">
      <img class="logo" src="assets/img/contact.png" alt=""/>
      <h1 class="cover-heading">Please <a id="cont-link" href="mailto:nathanmcelwain@ymail.com">Contact</a> Me!</h1>
      <h3 id="sub-head" class="cover-heading">I am reachable by phone, email, social media and <br>
        <s>raven</s> (ravens currently on strike)</h3>
      <address>
        <strong>Nathan c/o Cutty Bang Multimedia</strong><br>
        193 Miller Ave #10<br>
        Mill Valley CA, 94941<br>
        <abbr title="Telephone">Tel:</abbr> (415) 572-0775
      </address>
      <address>
        <strong>Nathan McElwain</strong><br>
        <a href="mailto:#">nathanmcelwain@ymail.com</a><br>
        <a href="mailto:#">cuttybangaudio@gmail.com</a>
      </address>
      <div class="inner cover social lead">
    		<a class="soc-icon" title="Facebook" href="https://www.linkedin.com/in/nathan-mcelwain-02724021" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    		<a class="soc-icon" title="Twitter" href="https://twitter.com/Cutty_Bang" target="_blank"><i class="fa fa-twitter-square"></i></a>
    		<a class="soc-icon" title="Git Hub" href="https://github.com/CuttyBang" target="_blank"><i class="fa fa-github-square"></i></a>
    	</div>
    </div>
  </div>
</section>
