
  <div class="homepage">
    <div class="cover-container">
      <img id="mainLogo" class="logo" src="assets/img/logo-nathan2crop.png" alt="Nathan McElwain Logo"/>
      <h1 class="cover-heading">Web Developer & Audio Engineer</h1>
      <h3 id="sub-head" class="cover-heading">Hello, I'm Nathan McElwain. San&nbsp;Francisco's native son.</h3>
      <p class="lead">Incessant key-stroker, punctilious knob-tweaker and subsequent screen-squinter.
        I'm a purveyor of clean designs, warm analog synthesis and left-of-center concepts
        brimming with personality. Delivered with stylized polish and clever execution.</p>
    </div>
  </div>
