<section id="other-stuff" class="inner">
  <div id="trigger2"></div>
  <div id="bang-page" class="inner">
    <img id="bang-logo" src="assets/img/cutty-bang.png" alt="Cutty Bang Logo"/>
    <p class="lead">...By the way, did you know that I also happen to be a music producer?<br>
      Want to hear some stuff? Check out my producer&nbsp;page!</p>
  </div>
  <div>
    <p class="lead">
      <a target="_blank" href="http://soundcloud.com/cutty_bang" class="btn btn-lg" id="cutty">Check It Out!</a>
    </p>
  </div>
</section>
